*{
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
    border-radius: 3px;
}

html{
	font-size: 62.5%;
    body{
        font-size: 1.6rem;
        background: #000080;
        color: #FF0000;
        font-family: 'Ubuntu', sans-serif;
    }
}

.wrapper{
    max-width: 1080px;
    width: 95%;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.button{
    border: none;
    border-radius: 3px;
    padding: 10px 10%;
    color: #000080;
    background: #FF0000;
    margin: 10px 0;
    transition: .3s;
}