*{
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
    border-radius: 3px;
}

html{
	font-size: 62.5%;
    body{
        font-size: 1.6rem;
        background: #000080;
        color: #FF0000;
    }
}

.wrapper{
    max-width: 1080px;
    width: 95%;
    margin: 0 auto;
}


.hide{
    display: none;
}

.flex{
    display: flex;
}