.header{
    background-image: url(../assets/superheroBackground.jpg);
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center;
    min-height: 70vh;
    padding-top: 80px;
    .headerText{
        background: rgba(0,0,128,.7);
        text-align: center;
        padding: 50px 0;
        border-radius: 3px;
        h1,
        h3{
            margin: 10px 0;
        }
        .heroSearch{
            border: none;
            // background: rgba(0,0,128,.7);
            padding: 10px 20%;
            border-radius: 3px;
            margin: 10px 0;
            text-align: center;
        }
        button{
            border: none;
            border-radius: 3px;
            padding: 10px 10%;
            color: #000080;
            background: #FF0000;
            margin: 10px 0;
        }
    }
}