.header{
    background-image: url(../assets/superheroBackground.jpg);
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center;
    min-height: 70vh;
    padding-top: 80px;
    .headerText{
        background: rgba(0,0,128,.7);
        text-align: center;
        padding: 50px 0;
        border-radius: 3px;
        h1{
            font-family: 'Bangers', cursive;
            font-weight: 400;
            letter-spacing: 4px;
            font-size: 5rem;
        }
        h1,
        h3{
            margin: 10px 0;
        }
        .heroSearch{
            border: none;
            width: 70%;
            height: 40px;
            border-radius: 3px;
            margin: 10px 0;
            text-align: center;
        }
        button:hover{
            background: #acacd2;
            color: #FF0000;
        }
    }
}

@media (max-width: 850px){
    .header{
        padding-top: 30px;
        .headerText{
            padding: 10px 0;
        }
        h3{
            display: none;
        }
    }
}