.main{
    min-height: 25vh;
    background: #000080;
}

.infoFallback{
    text-align: center;
}

.heroContent{
    margin: 2% 0;
    border-radius: 3px;
    background: rgba(255,0,0,.7);
    color: #000080;
    .heroPic,
    .heroInfo{
        flex-basis: 50%;
        justify-content: space-between;
    }
}

.heroPic img,
.heroInfo{
    margin: 10px 5%;
    li{
        list-style-type: none;
        padding: 5% 0;
    }
    h2{
        padding: 5% 0;
    }
}

.heroPic img{
    border: 5px solid #000080;
}